<blockquote class="quote">
    <p class="quote__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Natus cum porro delectus quia impedit! Voluptatum distinctio dolor esse temporibus vel non omnis officia expedita, cupiditate ea ad animi!
    </p>
    <footer>
        <div class="media">
            <div class="media__image">
                
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#line"></use>
                      </svg>
            </div>
            <div class="media__body">
                <h3 class="media__title quote__aurthor">Ramain</h3>
                <p class="media__body quote__orginization">ceo blah blah</p>
            </div>
        </div>
    </footer>
</blockquote>